<footer class="p_100 footer_aera">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="footer_logo">
					<a href="#">
						<img src="https://gillzsweetfactory.com/wp-content/themes/gillz-sweets-factory-new/assets/images/headerlogo.webp" alt="">
					</a>
				</div>
				<div class="footer_news">
 					<input type="text" placeholder="Enter your email address">
					<a href="#." class="main__button">Sign Up <i class="fa fa-long-arrow-right"
																 aria-hidden="true"></i></a> 
					<ul>
						<li>
							<a href="https://www.facebook.com/Gillzsweetfactory/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/gillzsweetfactory/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
						</li>
						
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer_link">
					<h2>About</h2>
					<ul>
						<li><a href="#">Our story </a></li>
						<li><a href="#">menu</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Community</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Catering</a></li>
						<li><a href="#">Wholesale</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer_link">
					<h2>Our Menu</h2>
					<ul>
						<li><a href="#" target="_blank">Dessert</a></li>
						<li><a href="#" target="_blank">Appetizer</a></li>
						<li><a href="#" target="_blank">Drink</a></li>
						<li><a href="#" target="_blank">Bread</a></li>
						<li><a href="#" target="_blank">Main Course</a></li>
						<li><a href="#" target="_blank">Rice & Noodles</a></li>
						<li><a href="#" target="_blank">Raita</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer_add">
					<h2>Get in Touch</h2>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<p><span>2131 Williams Pkwy #3 Brampton ON L6S-5Z4</span></p>
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							<p><a href="tel:+9057992616">+905 799 2616</a></p>
						</li>
						<li>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<p><a href="mailto:info@gillzsweetfactory.com">info@gillzsweetfactory.com</a></p>
						</li>
					</ul>
				</div>
			</div>

			<div class="copy">
				<p>© Copyright Gillz sweet factory
					<script>document.write(new Date().getFullYear())</script>. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</footer>
<script src="https://nextstep.net.in/elmas-meat/wp-content/themes/Elmas-Meat/assets/js/fontawesome.js"></script>
