
<header class="header__area">
    <div class="main_header_area">
        <div class="container">
            <nav id="navigation1" class="navigation">
                <div class="nav-header">
                    <a class="nav-brand" href="#">
                        <img src="https://gillzsweetfactory.com/wp-content/themes/gillz-sweets-factory-new/assets/images/headerlogo.webp" alt="logo">
                    </a>
                    <div class="nav-toggle"></div>
                    <div class="nav-menus-wrapper">
                        <div class="div_outer">
                            {{ page.gillz_header }}
                            <a href="#" target="_blank" class="main__button">Order online</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>