{% extends 'base.html.twig' %}

{% block title %}Welcome to my website{% endblock %}

{% block body %}
<div class="container">
  <h1>Hello, {{ name }}!</h1>
  <p>This is a sample front page for your website. You can customize it as you like.</p>
  <p>Here are some links to help you get started:</p>
  <ul>
    <li><a href="{{ path('about') }}">About me</a></li>
    <li><a href="{{ path('blog') }}">My blog</a></li>
    <li><a href="{{ path('contact') }}">Contact me</a></li>
  </ul>


hello thois is home page
</div>
{% endblock %}
