 {% include directory ~ '/templates/includes/header.html.twig' %}

 <section class="b01">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="board_left">
					<h1>Board Of Directors</h1>
				</div>
			</div>

			<div class="col-md-8">
				<div class="board_right">
					
<h4 class="wp-block-heading">We focus on transmission solutions that are tailored, integrated, and supported by deep industry, functional, and board expertise.</h4>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="single_director"> 
	<div class="container">
				<div class="row">
			<div class="col-md-3">
				<div class="sdir_left">
					<div class="sdir_img">
						<img src="https://imperialauto.in/wp-content/uploads/2022/11/Jagijit-Singh.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="sdir_right">
					<h5>Jagjit Singh</h5>
<p>Co-founder &amp; Director</p>
<p>Jagjit Singh co-founded Imperial Auto in 1969, and has been with the company for the past five decades. He started the company with low-pressure fuel assemblies for tractors and automotive vehicles in India, and over time expanded to include other products such as coolant hoses, rubber hoses, and nylon. Mr. Singh also played an instrumental role in entering joint venture partnerships such as Sumitomo Riko, Nichirin, and Martor. He currently holds an advisory role and continues to work towards the success of the organization.</p>
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-3">
				<div class="sdir_left">
					<div class="sdir_img">
						<img src="https://imperialauto.in/wp-content/uploads/2022/11/Tarun-Lamba.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="sdir_right">
					<h5>Tarun Lamba</h5>
<p>Managing Director &amp; CEO</p>
<p>Tarun Lamba joined Imperial Auto in 1990. Under his leadership, the company expanded its polymer operations by adding new facilities and capabilities for extrusion and moulding and has been recognized for its achievements by various industry bodies such as Cummins, Daimler, Eicher Engines, CNH and John Deere. In the early 2000s, Mr. Lamba took Imperial global by starting exports to existing global clients,expanding the company’s reach. He spent the initial years of his career training with hose manufacturing companies in Japan. He holds an Engineering degree in Polymers from MIT, Pune.</p>
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-3">
				<div class="sdir_left">
					<div class="sdir_img">
						<img src="https://imperialauto.in/wp-content/uploads/2022/11/Viraj-S..png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="sdir_right">
					<h5>Viraj Sawhney</h5>
<p>Director</p>
<p>Viraj Sawhney joined the Imperial Auto board in 2022. Mr Sawhney is a Managing Director at Warburg Pincus and joined the investment firm in 2005. Prior to joining Warburg Pincus, Viraj was an Engagement Manager with McKinsey &amp; Company where he spent five years serving clients across India, S.E. Asia and Australia. Mr. Sawhney evaluates investment opportunities across TMT and business services. Sectors covered by him include logistics, telecom, technology services and BPO. He is a Director of Encora Holdings Limited (earlier known as Indecomm Corporation), Tide TopCo, Inc., Princeton Digital Group, Imperial Auto, Ecom Express, Rivigo and Stellar Value Chain Solutions. Mr. Sawhney holds a BA degree in Mathematics from St. Stephens College (Delhi University) and a Post-Graduate Diploma in Management from IIM Ahmedabad.</p>
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-3">
				<div class="sdir_left">
					<div class="sdir_img">
						<img src="https://imperialauto.in/wp-content/uploads/2022/11/Swapnil-Sinha.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="sdir_right">
					<h5>Swapnil Sinha</h5>
<p>Director</p>
<p>Swapnil Sinha joined the Imperial Auto board in 2022 and serves on various board committees including the audit committee. Mr Sinha is a Principal at Warburg Pincus and joined the investment firm in 2016. Prior to joining Warburg Pincus, Mr. Sinha worked in the investment banking practice at Barclays in London. Mr. Sinha focuses on investments in the Industrials, TMT and Real Estate sectors. He is currently a Director of Imperial Auto Industries, Good Host Spaces, and R Retail Ventures, and previously served on the boards of Embassy Industrial Parks, and CleanMax Enviro Solutions. Mr. Sinha holds a B.Tech in Mechanical Engineering from Indian Institute of Technology Delhi, and an MBA (with Hons.) from The University of Chicago Booth School of Business.</p>
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-3">
				<div class="sdir_left">
					<div class="sdir_img">
						<img src="https://imperialauto.in/wp-content/uploads/2022/11/V-S.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="sdir_right">
					<h5>VS Parthasarathy</h5>
<p>Director</p>
<p>VS Parthasarathy joined the Imperial Auto board in 2022 and serves on various committees such as the audit committee, CSR committee and NRC committee. Mr. Parthasarathy has 20+ years of experience with Mahindra Group, for seven of which he was Group CEO and CIO; and won many awards during his tenure, such as the Lifetime Achievement Award, Businessworld – Yes Bank Hall of Fame Award and Best CFO of India Award by IMA. He is a Director of Imperial Auto Industries, LIC, Cloudnine group of hospitals, SEWA Bharat and Vice Chairman of the Board for Allcargo Logistics. He was the President of the Bombay Chamber of Commerce and Industry in 2019-20. Mr. Parthasarathy holds a Bachelor’s Degree in Commerce, is a member of the Institute of Chartered Accountants of India and a Harvard Alumni of Advanced Management Program.</p>
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-3">
				<div class="sdir_left">
					<div class="sdir_img">
						<img src="https://imperialauto.in/wp-content/uploads/2022/11/Smita-M..png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="sdir_right">
					<h5>Smita Mankad</h5>
<p>Director</p>
<p>Smita Mankad joined the Imperial Auto board in 2022 and serves on various committees such as the audit committee, CSR committee and NRC committee. Ms. Mankad has 25+ years of experience across corporate, social and government sectors – with Fabindia, ABN AMRO Bank and Tata Motors. She is an independent consultant for retail and social enterprises and a Director of Imperial Auto Industries, Fabindia Limited and Mahindra Group Companies. Ms. Mankad has also founded and led several grassroots level social initiatives such as Food Fortification Resource Centre, The Foundation for Working Women, Creative Dignity and Women on Wings. She is an Economic Graduate from LSR and an MBA degree from NMIMS, Mumbai University.</p>
				</div>
			</div>
		</div>
			</div>
</section>

{% include directory ~ '/templates/includes/footer.html.twig' %}
