{% include directory ~ '/templates/includes/header.html.twig' %}

<section class="mergers">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mergers_cont">
					<h1>Technical Agreements & Merger and Acquisitions</h1>
				</div>
			</div>
			<div class="col-md-6">
				<div class="merger_left">
					<h4>TECHNICAL AGREEMENTS</h4>
					<div class="accordion" id="accordionExample">
												<div class="accordion-item">
							
							
							<h2 class="accordion-header" id="heading0">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">Fuji KOATSU, Japan</button>	
							</h2>
							<div id="collapse0" class="accordion-collapse collapse" aria-labelledby="heading0" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<p>Fuji Koatsu has the expertise in welding technology which allows Imperial to create high-quality products, resolving issues of pinholes or leakages from the weld joints..</p>
<p>A team of experienced welders in our company headed by divisional head have been sent to Japan for the training.</p>
								</div>
							</div>
						</div>
												<div class="accordion-item">
							
							
							<h2 class="accordion-header" id="heading1">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">POPPE & POTTHOFF,Germany</button>	
							</h2>
							<div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<p>Imperial Auto has entered into a TA with POPPE &amp; POTTHOFF for the manufacturing of CRDI HPP in India for BSIV,BSV,BSVI &amp; for BSVII application. The Plant is based out in Faridabad, Haryana . The plant is a state of art facility and is capable of manufacturing high pressure tube assemblies. P&amp;P is already an approved supplier to European/American automotive manufacturers (Car &amp; Truck). P&amp;P has established their most advanced cutting &amp; cleaning line in Imperial Auto Faridabad.</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>


<!-- 				<div class="accordion" id="accordionExample">
					
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Accordion Item #1
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
							</div>
						</div>
					</div>
					
					
				</div> -->


			</div>
			<div class="col-md-6">
				<div class="merger_left">
					<h4>MERGER & ACQUISITIONS</h4>
					<div class="accordion" id="accordionExample2">

						
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading02">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse02" aria-expanded="true" aria-controls="collapse02">SB Rohrform</button>
							</h2>
							<div id="collapse02" class="accordion-collapse collapse" aria-labelledby="heading02" data-bs-parent="#accordionExample2">
								<div class="accordion-body">
									<p>Imperial Auto Industries Limited (IAI) has acquired SB Rohrform &#8211; und Schlauchtechnik GmbH in Pleidelsheim, Germany and will convert this into its Technical Development and Manufacturing location for European Car, Engine and Truck OEMs.</p>
								</div>
							</div>
						</div>

						
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading12">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="true" aria-controls="collapse12">ContiTech Mexico</button>
							</h2>
							<div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample2">
								<div class="accordion-body">
									<p>IAI has acquired a portion of Continental’s industrial molded production assets within their Delicias, Mexico facility. This investment strengthens Imperial’s presence in this core strategic segment serving construction equipment, agricultural machinery, material handling and other non-highway segments. The companies are cooperating to ensure a smooth supply transition for those companies who elect to obtain same PN supplies from Imperial Auto.</p>
								</div>
							</div>
						</div>

						
						<!-- 						<div class="accordion-item">
<h2 class="accordion-header" id="headingTwo2">
<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
Conti Hose Assets, Mexico
</button>
</h2>
<div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
<div class="accordion-body">
<p>This is the second item's accordion body. It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the , though the transition does limit overflow.</p>
</div>
</div>
</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include directory ~ '/templates/includes/footer.html.twig' %}
