 {% include directory ~ '/templates/includes/header.html.twig' %}

{{page.content}}

{# <section class="groupBoxSec">
	<div class="container">
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>IAI Chakan (100% IAI Owned)</h3>
					<ul>
					<li>Founded in 1995</li>
					<li>Focuses on Domestic FTP customers</li>
					<li>Location – Pune</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2023/01/WhatsApp-Image-2023-01-11-at-10.38.40-AM.jpeg" alt="">
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>Imperial Auto Industries (100% IAI owned)</h3>
					<ul>
					<li>Founded in 1969</li>
					<li>Manufacturing fluid transmission products</li>
					<li>Location – PAN India</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2023/01/WhatsApp-Image-2023-01-11-at-10.38.40-AM.jpeg" alt="">
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>Imperial Martor Engine Tubes Pvt. Ltd. (100% IAI owned)</h3>
					<ul>
					<li>Joint venture with Martor S.P.A (Italy)</li>
					<li>Established in 2008</li>
					<li>Manufacturing engine components for OEMs in India</li>
					<li>Location – Pune, Maharashtra</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2022/11/imperial-martor-1.png" alt="">
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>Sumitomo Riko Imperial Rubber India Pvt. Ltd. (60% Sumitomo Riko : 40% IAI)</h3>
				<ul>
				<li>Joint Venture with Sumitomo Riko Company Limited (Japan)</li>
				<li>Established in 2005</li>
				<li>Manufacturing direct injection fuel hoses and assemblies for OEMs in India</li>
				<li>Location – Faridabad, Haryana</li>
				</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2022/11/riko.png" alt="">
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>SJ Industries (100% IAI owned)</h3>
				<ul>
				<li>SJ is a wholly owned company by original promoters</li>
				<li>Dedicated unit for compounding rubber exclusively for IAI group companies</li>
				<li>Rubber mixing approximately 600 tons per month presently</li>
				<li>Location – Faridabad, Haryana</li>
				</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2022/11/sj-rubber.png" alt="">
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>Sumitomo Riko Imperial Hydraulics India Pvt. Ltd. (86% Sumitomo Riko : 14% IAI)</h3>
					<ul>
					<li>Joint Venture with Sumitomo Riko Company Limited (Japan)</li>
					<li>Established in 2013</li>
					<li>Manufacturing Hydraulic hoses for off highway OEM industry</li>
					<li>Location – Neemrana, Rajasthan</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2022/11/tokai-imperial.png" alt="">
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					<h3>Nichirin Imperial Pvt. Ltd. (60% Nichirin : 40% IAI)</h3>
						<ul>
						<li>Joint Venture with Nichirin Autoparts India Pvt. Limited (Japan)</li>
						<li>Established in 2019</li>
						<li>Manufacturing rubber brake hose assemblies for OEMs in India</li>
						<li>Location – Faridabad, Haryana</li>
						</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					<img src="https://imperialauto.in/wp-content/uploads/2022/11/nichirin-imperial.png" alt="">
				</div>
			</div>
		</div>
		
		
	

	</div>
</section> #}

{% include directory ~ '/templates/includes/footer.html.twig' %}
