<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer_logo">
					<a href="https://imperialauto.in/">
						<img src="https://imperialauto.in/wp-content/themes/imperial-auto/assets/images/imperial-auto-logo-footer.svg" alt="">
					</a>
				</div>
				<div class="footer_content">
					<div class="foDriving">
						<h5>Driving Into The Future </h5>
						<img src="https://imperialauto.in/wp-content/uploads/2022/10/a.png" alt="">
					</div>

					<p>CIN : U74899DL1975PLC007737ISINCODE for Equity Shares : INE04XA01013 (100% shares are in DEMAT)<br> ISIN for Commercial paper : INE04XA14016</p>
					<div class="footer_social">
						<ul>
							<li><a href="https://www.facebook.com/imperialautoindustries/"><i class="fab fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/imperialautoindustries/"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/company/imperial-auto-industries/"><i class="fab fa-linkedin"></i></a></li>

						</ul>
					</div>
					<div class="footer_copyright">
						<span>© Copyright</span>
						<span><a href="#.">Cookie Policy</a></span>
						<span><a href="#.">Privacy Policy</a></span>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="quick_link">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="https://imperialauto.in/careers/">Careers</a></li>
						<li><a href="https://imperialauto.in/about-us/">About Us</a></li>
						<li><a href="https://imperialauto.in/news/">News and Media</a></li>
						<li><a href="https://imperialauto.in/contact/">Contact Us</a></li>
						<li><a href="https://imperialauto.in/statutory-information/">Statutory Information</a></li>
						<li><a href="#.">Downloads</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="footer_right">
					<h3>Contact us</h3>
					<p>We are always open to discuss your requirements, improve your vehicle performance and help with your fluid transmission challenges.</p>
					<div class="subscribe">

						<h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
<!-- 						<form action=""> -->
  							
<div class="wpcf7 no-js" id="wpcf7-f1186-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/#wpcf7-f1186-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1186" />
<input type="hidden" name="_wpcf7_version" value="5.7.7" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1186-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
<input type="hidden" name="_wpcf7_recaptcha_response" value="" />
</div>
<div class="input_field">
	<p><span class="wpcf7-form-control-wrap" data-name="cemail"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email" value="" type="email" name="cemail" /></span>
	</p>
</div>
<div class="form_terms">
	<p class="form_terms_p">By signing up, you accept the terms of Imperial Auto’s Privacy Policy.
	</p>
	<p><input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Subscribe" />
	</p>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
  
<!-- 							<div class="input_field">
								<input type="email" placeholder="Your email">
							</div>
							<div class="form_terms">
								<p>By signing up, you accept the terms of Imperial Auto’s Privacy Policy.</p>
								<input type="submit" name="" value="Subscribe">
							</div> -->
<!-- 						</form> -->
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>