<header class="header">
			<nav id="navigation1" class="navigation">
				<div class="container">
					<div class="main-header">
						<div class="header_logo">
							<a href="#.">
								{{ page.header_logo }}
							</a>
						</div>


						<div class="header_menu">
							<div class="nav-toggle"></div>
							<div class="nav-menus-wrapper">

							<div class="headerMenu">
							{{ page.header_menu }}
							</div>

								{# <ul class="nav-menu">
									<li><a href="http://localhost/drupal/">Home</a></li>       
									<li>
										<a href="http://localhost/drupal/node/1">Company</a>
										<ul class="sub-menu">
											<li><a href="http://localhost/drupal/node/1">About</a></li>
											<li><a href="https://imperialauto.in/mission-and-vision/">History</a></li>
											<li><a href="https://imperialauto.in/mission-and-vision/?id=mission-vision">Mission & Vision</a></li>
											<li><a href="https://imperialauto.in/mission-and-vision/?id=core-values">Core Values</a></li>
											<li><a href="https://imperialauto.in/group-companies/">Group Companies</a></li>
											<li><a href="https://imperialauto.in/mergers-and-acquisitions/">Mergers & Acquisitions</a></li>
										</ul>
									</li>
									<li><a href="#.">Our People</a>
										<ul class="sub-menu">
											<li><a href="https://imperialauto.in/board-of-directors/">Board of Directors</a></li>
											<li><a href="https://imperialauto.in/leadership/">Leadership</a></li>
											<li><a href="https://imperialauto.in/careers/">Careers</a></li>
										</ul>
									</li>
									<li><a href="#.">Our Reach</a>
										<ul class="sub-menu">
											<li><a href="https://imperialauto.in/product-range/on-highway/">On-Highway</a>
												<ul class="sub-menu">
													<li><a href="https://imperialauto.in/product-range/automotive/">Automotive</a>
													</li>
													<li><a href="https://imperialauto.in/product-range/commercial/">Commercial</a>
													</li>
													
												</ul>
											</li>
											<li><a href="https://imperialauto.in/product-range/off-highway/">Off-Highway</a>
												<ul class="sub-menu">
													<li><a href="https://imperialauto.in/product-range/agriculture/">Agriculture</a>
														
													</li>
													<li><a href="https://imperialauto.in/product-range/construction/">Construction</a>
														
													</li>
													<li><a href="https://imperialauto.in/product-range/defense-and-railway/">Defence and Railway</a></li>
													<li><a href="https://imperialauto.in/product-range/engine/">Engine</a></li>
												</ul>
											</li>
											<li><a href="https://imperialauto.in/product-range/new-energy-vehicles/">New Energy Vehicles</a></li>	
										</ul>
									</li>
									<li><a href="https://imperialauto.in/products/">Products & Solutions</a>
										<ul class="sub-menu">
										<li><a href="https://imperialauto.in/product/fcev-thermal-management/">FC-FCEV &#8211; Thermal Management</a></li>
										<li><a href="https://imperialauto.in/product/cng-hose-metal-tube/">CNG Hose &#038; Metal Tube</a></li>
																						<li><a href="https://imperialauto.in/product/hvac-lines-hvac-assembly/">HVAC Lines &#038; HVAC Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/coolant-pipes-hoses-heater-hose/">Heater Hose / Coolant Pipes &#038; Hoses</a></li>
																						<li><a href="https://imperialauto.in/product/brake-assembly-clutch-assembly/">Brake Assembly &#038; Clutch Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/hydraulic-power-steering/">Hydraulic Power Steering</a></li>
																						<li><a href="https://imperialauto.in/product/hydraulic-hose/">Hydraulic Hose</a></li>
																						<li><a href="https://imperialauto.in/product/structural-fabrication-parts/">Structural / Fabrication Parts</a></li>
																						<li><a href="https://imperialauto.in/product/hydraulic-tube-high-pressure-tubes/">High Pressure Tubes / Hydraulic Tube</a></li>
																						<li><a href="https://imperialauto.in/product/aftertreatment-system-and-exhaust-assembly/">Aftertreatment System / Exhaust Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/fuel-hose-and-fuel-lines-assembly/">Fuel Hose / Fuel Line Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/injector-leak-off-assembly/">Injector Leak off Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/hp-injector-crdi-gdi/">HP Injector (CRDI &amp; GDI)</a></li>
																						<li><a href="https://imperialauto.in/product/charge-air-cooler-and-intercooler-assembly/">Charge Air Cooler / Intercooler Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/oil-line-and-oil-cooler-assembly/">Oil Line &#038; Oil Cooler Assembly</a></li>
																						<li><a href="https://imperialauto.in/product/engine-tubular-assemblies/">Engine Tubular Assemblies</a></li>
																						<li><a href="https://imperialauto.in/product/dp-lines/">DP Lines</a></li>
																	

										</ul>
									</li>
									<li><a href="#.">Technology</a>
										<ul class="sub-menu">
											<li><a href="https://imperialauto.in/certifications/">Certifications</a></li>
											<li><a href="https://imperialauto.in/facilities/">Facilities</a>
												<ul class="sub-menu">
													<li><a href="https://imperialauto.in/facilities/">Rubber Processing</a></li>
													<li><a href="https://imperialauto.in/facilities/">Tube Manipulations</a></li>
													<li><a href="https://imperialauto.in/facilities/">Assemblies</a></li>
													<li><a href="https://imperialauto.in/facilities/">Hydraulic Cleanliness</a></li>
													<li><a href="https://imperialauto.in/facilities/">Quality and Certification</a></li>
													<li><a href="https://imperialauto.in/facilities/">IAI Design Center</a></li>
												</ul>
											</li>
										</ul>

									</li>
									<li><a href="https://imperialauto.in/news/">News & Media</a></li>
									<li><a href="https://imperialauto.in/contact/">Contact</a></li>
									<div class="nav-search ">
										<div class="nav-search-button">
											<input type="text" placeholder="Search by Part no, product or keyword">
											<i class="fa fa-search" aria-hidden="true"></i>
										
										</div>

										<form action="https://imperialauto.in" name="SearchForm" method="get">
											<div class="nav-search-inner">
												<input type="text" name="s" maxlength="64" id="SearchForm" placeholder="Search by Part no, product or keyword" />
											</div>
										</form>


									</div>
								</ul> #}
							</div>
						</div>

					</div>
				</div>
				
			</nav>
		</header>