<section class="group-companies">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="group_left">
					{{content.field_group_content}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="group_right">
					{{content.field_group_company_image}}
				</div>
			</div>
		</div>
	</div>
</section>

