<section class="groupBoxSec">
	<div class="container">
		
		<div class="row">
			<div class="col-md-8">  
				<div class="groupBoxLeft">
					{{content.field_group_box_content}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="groupBoxRt">
					{{content.field_group_box_image}}
                    {# <img src="https://imperialauto.in/wp-content/uploads/2023/01/WhatsApp-Image-2023-01-11-at-10.38.40-AM.jpeg" alt=""> #}
				</div>
			</div>
		</div>
		
	</div>
</section>