<footer class="footer bg_black">
	<div class="container">
		<div class="row p_100">
			<div class="col-md-12 col-lg-3">
				<div class="footer_logo_part">
					<div class="footer_logo">
						<a href="https://nextstep.net.in/fusion-cars"><img src="https://nextstep.net.in/fusion-cars/wp-content/uploads/2023/05/footer_logo.png" alt=""></a>
					</div>
					<div class="footer_timing text-white">
						<h5> <strong>OPENING HOURS:</strong> <br>
							Mon - Sun: 10am - 8pm</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer_call_now">
					<h5>Call Us On (1)</h5>
					<a href="tel:+91 9999999 681"><strong>+91 9999999 681</strong></a>
				</div>
				<div class="footer_nav">
					<h5 class="mb-2"><strong>USEFUL LINKS</strong></h5>
					<ul>
						<li><a href="https://nextstep.net.in/fusion-cars/collections/?brand=BMW"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">Pre-Owned BMW Cars</a></li>
						<li><a href="https://nextstep.net.in/fusion-cars/collections/?brand=Audi"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">Pre-Owned Audi Cars</a></li>
						<li><a href="https://nextstep.net.in/fusion-cars/collections/"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">Used Luxury Cars Collection</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer_call_now">
					<h5>Call Us On (2)</h5>
					<a href="tel:+91 999999 4720"><strong>+91 999999 4720</strong></a>
				</div>
				<div class="footer_nav">
					<h5 class="mb-2"><strong>OUR INFO</strong></h5>
					<ul>
						<li><a href="https://nextstep.net.in/fusion-cars/about-us/"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">About Us</a></li>
						<li><a href="https://nextstep.net.in/fusion-cars/collections/"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">Collections</a></li>
						<li><a href="https://nextstep.net.in/fusion-cars/showroom/"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">Showrooms</a></li>
<!-- 						<li><a href="/insights/"><img src="// /assets/images/footer_icon.png">News/Update</a></li> -->
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer_adress mb-5">
					<a href="https://goo.gl/maps/orVnxPzSJfv9KLC96" class="fusion_btn text-white" target="_blank"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_map.png" alt=""> Fusion Cars On Map</a>
				</div>
				<div class="footer_nav">
					<h5 class="mb-2"><strong>Address</strong></h5>
					<ul>
						<li><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_icon.png">A-99/100, Ganesh Nagar Tilak Nagar, Delhi, 110018</li>
					</ul>
				</div>
				<!-- 					<div class="footer_form">
<div class="form_field">
<input type="text" placeholder="Subscribe Newsletter">
</div>
<div class="form_submit_field">
<a href="" class="fusion_btn"><img src=" ///assets/images/Mail.png" alt=""> </a>
</div>
</div> -->
			</div>
		</div>
		<div class="row">
			<div class="copyright_sec">
				<div class="copy_left">
					<p>© 2023 <a href="fusioncars.com">FusionCars.com</a> all rights reserved.  </p>
					<p>
						Powered By
						<a href="https://digitalbirbal.com/">Digital Birbal</a>
					</p>
					
				</div>
				<div class="copy_icons">
					<ul>
						<li><a href="https://instagram.com/fusioncarsindia?igshid=YmMyMTA2M2Y=" target="_blank"><img src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_insta.png" alt=""> . instagram</a></li>
						<li><a href="https://www.facebook.com/fusioncarsindia?mibextid=LQQJ4d" target="_blank"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_facebook.png" alt="" > . facebook</a></li>
						<li><a href=" https://www.youtube.com/c/FusionCars" target="_blank"><img src=" https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/footer_youtube.png" alt="" > . youtube</a></li>
					</ul>
				</div>					
			</div>
		</div>
	</div>



</footer>


<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/jquery.min.js"></script>
<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/header.js"></script>    
<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/owl.carousel.min.js"></script>
<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/main.js"></script>
<script src="https://imperialauto.in/wp-content/themes/imperial-auto/assets/js/fontawesome.js"></script>
<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/slick.js"></script>
<script src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/js/slick.min.js"></script>
<script src="https://www.avmarketingsolutions.in/wp-content/themes/av-marketing-solutions/assets/js/fontawesome.js"></script>
<script src="https://bharatenterprises.co.in/wp-content/themes/bharat%20Enterprises/assets/js/fancybox.js"></script>

<script>
	$('.slider-single').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		fade: true,
		asNavFor: '.slider-nav'

	});
	$('.slider-nav').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '.slider-single',
		dots: false,
		centerMode: true,
		centerPadding: '0px',
		focusOnSelect: true,
		responsive: [
			{
				breakpoint: 1024,
				settings: {
					slidesToShow: 3,
					dots: true,

				}
			},
			{
				breakpoint: 992,
				settings: {
					slidesToShow: 3,
					dots: true,
					arrows: true,
					arrows:false
				}
			},
			{
				breakpoint: 768,
				settings: {
					slidesToShow: 3,
					dots: true,
					arrows: true,
					arrows:false
				}
			},
			{
				breakpoint: 575,
				settings: {
					slidesToShow: 3,
					dots: true,
					arrows: true,
					arrows:false
				}
			}
		]
	});
</script>

<script>
	$(".ptl_lg").owlCarousel({
		loop: false,
		nav: false,
		dots: true,
		smartSpeed: 800,
		margin: 30,
		autoplayHoverPause: false,
		autoplay: true,
		responsive: {
			0: {
				items: 1,
			},
			576: {
				items: 2,
			},
			768: {
				items: 3,
			},
			992: {
				items: 5,
			},
			1200: {
				items: 5,
			},
			1400: {
				items: 5,
			},
		},
	});


</script>
<script>
	// Get the select boxes and checkboxes
	const categorySelect = document.getElementById("category");
	const brandSelect = document.getElementById("brand");
	const priceSelect = document.getElementById("price");
	const ratingSelect = document.getElementById("rating");
	const fuelsSelect = document.getElementById("car-fuels");
	const featuresCheckboxes = document.querySelectorAll('input[type="checkbox"]');

	// Get all the products
	const products = document.querySelectorAll(".product");

	// Add event listeners to the select boxes and checkboxes
	categorySelect.addEventListener("change", filterProducts);
	brandSelect.addEventListener("change", filterProducts);
	priceSelect.addEventListener("change", filterProducts);
	ratingSelect.addEventListener("change", filterProducts);
	fuelsSelect.addEventListener("change", filterProducts);
	featuresCheckboxes.forEach((checkbox) => {
		checkbox.addEventListener("change", filterProducts);
	});

	// Define the filterProducts function
	function filterProducts() {
		// Get the selected options
		const selectedCategory = categorySelect.value;
		const selectedBrand = brandSelect.value;
		const selectedPrice = priceSelect.value;
		const selectedRating = ratingSelect.value;
		const selectedFuel = fuelsSelect.value;
		const selectedFeatures = [];
		featuresCheckboxes.forEach((checkbox) => {
			if (checkbox.checked) {
				selectedFeatures.push(checkbox.value);
			}
		});

		// Get the current year
		

		// Loop through all the products and show/hide them based on the selected options
		products.forEach((product) => {
			const categoryMatch = selectedCategory === "" || product.getAttribute("data-category") === selectedCategory;
			const brandMatch = selectedBrand === "" || product.getAttribute("data-brand") === selectedBrand;
			const priceMatch =
				  selectedPrice === "" ||
				  (selectedPrice === "0-100000" && product.getAttribute("data-price") <= 100000) ||
				  (selectedPrice === "100000-500000" && product.getAttribute("data-price") > 100000 && product.getAttribute("data-price") <= 500000) ||
				  (selectedPrice === "500000-1000000" && product.getAttribute("data-price") > 500000 && product.getAttribute("data-price") <= 1000000) ||
				  (selectedPrice === "1000000-2000000" && product.getAttribute("data-price") > 1000000 && product.getAttribute("data-price") <= 2000000) ||
				  (selectedPrice === "2000000-5000000" && product.getAttribute("data-price") > 2000000 && product.getAttribute("data-price") <= 5000000) ||
				  (selectedPrice === "5000000-10000000" && product.getAttribute("data-price") > 5000000 && product.getAttribute("data-price") <= 10000000) ||
				  (selectedPrice === "10000000-20000000" && product.getAttribute("data-price") > 10000000 && product.getAttribute("data-price") <= 20000000) ||
				  (selectedPrice === "20000000-50000000" && product.getAttribute("data-price") > 20000000 && product.getAttribute("data-price") <= 50000000) ||
				  (selectedPrice === "50000000-100000000" && product.getAttribute("data-price") > 50000000 && product.getAttribute("data-price") <= 100000000);

			const ratingMatch = selectedRating === "" || product.getAttribute("data-rating") >= selectedRating;
			const fuelMatch = selectedFuel === "" || product.getAttribute("data-fuel") === selectedFuel;
			const featuresMatch = selectedFeatures.length === 0 || selectedFeatures.some((feature) => product.getAttribute("data-features").includes(feature));

			// Filter based on brand year
			const yeear = new Date().getFullYear();
			
			const currentYear = yeear - 1;
			
			const brandYear = (product.getAttribute("data-brand-year"));

			const yearDifference = currentYear - brandYear;

			const yearMatch = selectedBrand === "" || (selectedBrand === "1" && yearDifference < 1) ||
				  (selectedBrand === "2" && yearDifference < 2) ||
				  (selectedBrand === "3" && yearDifference < 3) ||
				  (selectedBrand === "4" && yearDifference < 5) ||
				  (selectedBrand === "5" && yearDifference < 7) ||
				  (selectedBrand === "6" && yearDifference >= 7);

			console.log(yearMatch);

			if (categoryMatch  && priceMatch && ratingMatch && fuelMatch && featuresMatch && yearMatch) {
				product.style.display = "block";
			} else {
				product.style.display = "none";
			}
		});
	}

</script>
<script>
	// Get the URL parameters
	const urlParams = new URLSearchParams(window.location.search);

	// Pre-select the options based on the URL parameters
	if (urlParams.has('category')) {
		categorySelect.value = urlParams.get('category');
	}
	if (urlParams.has('price')) {
		priceSelect.value = urlParams.get('price');
	}
	if (urlParams.has('features')) {
		const selectedFeatures = urlParams.get('features').split(',');
		featuresCheckboxes.forEach((checkbox) => {
			if (selectedFeatures.includes(checkbox.value)) {
				checkbox.checked = true;
			}
		});
	}

	// Call the filterProducts function to filter the products on page load
	filterProducts();

</script>
<script>
	$('.slider-single2').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		fade: true,
		asNavFor: '.slider-nav2'

	});
	$('.slider-nav2').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '.slider-single2',
		dots: false,
		focusOnSelect: true,
		responsive: [
			{
				breakpoint: 1024,
				settings: {
					slidesToShow: 1,
					dots: true,

				}
			},
			{
				breakpoint: 992,
				settings: {
					slidesToShow: 3,
					dots: true,
					arrows: true,
					arrows:false
				}
			},
			{
				breakpoint: 768,
				settings: {
					slidesToShow: 3,
					dots: true,
					arrows: true,
					arrows:false
				}
			},
			{
				breakpoint: 575,
				settings: {
					slidesToShow: 3,
					dots: true,
					arrows: true,
					arrows:false
				}
			}


		]


	});
</script>
<script>
	$(document).ready(function() {
		$('.fancybox').fancybox();
	});
</script>
<script>
	$(".similar_lg").owlCarousel({
		loop: false,
		nav: false,
		dots: true,
		smartSpeed: 800,
		margin: 30,
		autoplayHoverPause: false,
		autoplay: true,
		responsive: {
			0: {
				items: 1,
			},
			576: {
				items: 1,
			},
			768: {
				items: 3,
			},
			992: {
				items: 3,
			},
			1200: {
				items: 3,
			},
			1400: {
				items: 3,
			},
		},
	});


</script>
<script>
	var AndraPradesh = ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"];
	var ArunachalPradesh = ["Anjaw","Changlang","Dibang Valley","East Kameng","East Siang","Kra Daadi","Kurung Kumey","Lohit","Longding","Lower Dibang Valley","Lower Subansiri","Namsai","Papum Pare","Siang","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang","Itanagar"];
	var Assam = ["Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup Metropolitan","Kamrup (Rural)","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Dima Hasao","Sivasagar","Sonitpur","South Salmara Mankachar","Tinsukia","Udalguri","West Karbi Anglong"];
	var Bihar = ["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"];
	var Chhattisgarh = ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"];
	var Goa = ["North Goa","South Goa"];
	var Gujarat = ["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"];
	var Haryana = ["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar"];
	var HimachalPradesh = ["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"];
	var JammuKashmir = ["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kargil","Kathua","Kishtwar","Kulgam","Kupwara","Leh","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"];
	var Jharkhand = ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"];
	var Karnataka = ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"];
	var Kerala = ["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"];
	var MadhyaPradesh = ["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Mandla","Mandsaur","Morena","Narsinghpur","Neemuch","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna",
						 "Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"];
	var Maharashtra = ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"];
	var Manipur = ["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"];
	var Meghalaya = ["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"];
	var Mizoram = ["Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip"];
	var Nagaland = ["Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Mon","Peren","Phek","Tuensang","Wokha","Zunheboto"];
	var Odisha = ["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"];
	var Punjab = ["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"];
	var Rajasthan = ["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Ganganagar","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Tonk","Udaipur"];
	var Sikkim = ["East Sikkim","North Sikkim","South Sikkim","West Sikkim"];
	var TamilNadu = ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"];
	var Telangana = ["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"];
	var Tripura = ["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"];
	var UttarPradesh = ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi","Amroha","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"];
	var Uttarakhand  = ["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"];
	var WestBengal = ["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"];
	var AndamanNicobar = ["Nicobar","North Middle Andaman","South Andaman"];
	var Chandigarh = ["Chandigarh"];
	var DadraHaveli = ["Dadra Nagar Haveli"];
	var DamanDiu = ["Daman","Diu"];
	var Delhi = ["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"];
	var Lakshadweep = ["Lakshadweep"];
	var Puducherry = ["Karaikal","Mahe","Puducherry","Yanam"];


	$("#inputState").change(function(){
		var StateSelected = $(this).val();
		var optionsList;
		var htmlString = "";

		switch (StateSelected) {
			case "Andra Pradesh":
				optionsList = AndraPradesh;
				break;
			case "Arunachal Pradesh":
				optionsList = ArunachalPradesh;
				break;
			case "Assam":
				optionsList = Assam;
				break;
			case "Bihar":
				optionsList = Bihar;
				break;
			case "Chhattisgarh":
				optionsList = Chhattisgarh;
				break;
			case "Goa":
				optionsList = Goa;
				break;
			case  "Gujarat":
				optionsList = Gujarat;
				break;
			case "Haryana":
				optionsList = Haryana;
				break;
			case "Himachal Pradesh":
				optionsList = HimachalPradesh;
				break;
			case "Jammu and Kashmir":
				optionsList = JammuKashmir;
				break;
			case "Jharkhand":
				optionsList = Jharkhand;
				break;
			case  "Karnataka":
				optionsList = Karnataka;
				break;
			case "Kerala":
				optionsList = Kerala;
				break;
			case  "Madya Pradesh":
				optionsList = MadhyaPradesh;
				break;
			case "Maharashtra":
				optionsList = Maharashtra;
				break;
			case  "Manipur":
				optionsList = Manipur;
				break;
			case "Meghalaya":
				optionsList = Meghalaya ;
				break;
			case  "Mizoram":
				optionsList = Mizoram;
				break;
			case "Nagaland":
				optionsList = Nagaland;
				break;
			case  "Orissa":
				optionsList = Orissa;
				break;
			case "Punjab":
				optionsList = Punjab;
				break;
			case  "Rajasthan":
				optionsList = Rajasthan;
				break;
			case "Sikkim":
				optionsList = Sikkim;
				break;
			case  "Tamil Nadu":
				optionsList = TamilNadu;
				break;
			case  "Telangana":
				optionsList = Telangana;
				break;
			case "Tripura":
				optionsList = Tripura ;
				break;
			case  "Uttaranchal":
				optionsList = Uttaranchal;
				break;
			case  "Uttar Pradesh":
				optionsList = UttarPradesh;
				break;
			case "West Bengal":
				optionsList = WestBengal;
				break;
			case  "Andaman and Nicobar Islands":
				optionsList = AndamanNicobar;
				break;
			case "Chandigarh":
				optionsList = Chandigarh;
				break;
			case  "Dadar and Nagar Haveli":
				optionsList = DadraHaveli;
				break;
			case "Daman and Diu":
				optionsList = DamanDiu;
				break;
			case  "Delhi":
				optionsList = Delhi;
				break;
			case "Lakshadeep":
				optionsList = Lakshadeep ;
				break;
			case  "Pondicherry":
				optionsList = Pondicherry;
				break;
		}


		for(var i = 0; i < optionsList.length; i++){
			htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
		}
		$("#inputDistrict").html(htmlString);

	});
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var AndraPradesh = ["Anantapur", "Chittoor", "East Godavari", "Guntur", "Kadapa", "Krishna", "Kurnool", "Prakasam", "Nellore", "Srikakulam", "Visakhapatnam", "Vizianagaram", "West Godavari"];
  // Rest of the states and districts go here...

  // Example usage: populate a dropdown with options
  var stateDropdown = document.getElementById('state-dropdown');
  var districtDropdown = document.getElementById('district-dropdown');

  stateDropdown.addEventListener('change', function() {
    var selectedState = stateDropdown.value;
    var districts = [];

    switch (selectedState) {
      case 'AndraPradesh':
        districts = AndraPradesh;
        break;
      // Add cases for other states...

      default:
        // Handle default case if needed
        break;
    }

    // Clear previous options
    districtDropdown.innerHTML = '';

    // Populate district dropdown with options
    districts.forEach(function(district) {
      var option = document.createElement('option');
      option.value = district;
      option.text = district;
      districtDropdown.appendChild(option);
    });
  });
});

</script>

<!-- Data Counter Js -->
<script>
$(document).ready(function() {
  var a = 0;

  var $counterBox = $("#counter-box");
  var oTop = $counterBox.offset().top - window.innerHeight;

  $(window).scroll(function() {
    if (a === 0 && $(window).scrollTop() > oTop) {
      $(".counter").each(function() {
        var $this = $(this);
        var countTo = $this.attr("data-number");
        $({
          countNum: $this.text()
        }).animate(
          {
            countNum: countTo
          },
          {
            duration: 5000,
            easing: "swing",
            step: function() {
              $this.text(Math.ceil(this.countNum).toLocaleString("en"));
            },
            complete: function() {
              $this.text(Math.ceil(this.countNum).toLocaleString("en"));
            }
          }
        );
      });
      a = 1;
    }
  });
});
</script>

<script>
	window.addEventListener('scroll', function() {
		var header = document.querySelector('header.header'); // Replace 'header' with the appropriate selector for your header element

		if (window.pageYOffset > 10) {
			header.classList.add('active');
		} else {
			header.classList.remove('active');
		}
	});

</script>

<script>
	// Main Button Js Start
	// JavaScript code
	window.addEventListener('DOMContentLoaded', function() {
		// Find the element(s) with the specified class name
		var elements = document.getElementsByClassName('fusion_btn');
		// Loop through each found element
		for (var i = 0; i < elements.length; i++) {
			// Create a new span element for each iteration
			var span = document.createElement('span');

			// Append the empty span element to the current element in the loop
			elements[i].appendChild(span);
		}
	});

	$(function () {
		$('.fusion_btn').
		on('mouseenter', function (e) {
			var parentOffset = $(this).offset(),
				relX = e.pageX - parentOffset.left,
				relY = e.pageY - parentOffset.top;
			$(this).find('span').css({ top: relY, left: relX });
		}).
		on('mouseout', function (e) {
			var parentOffset = $(this).offset(),
				relX = e.pageX - parentOffset.left,
				relY = e.pageY - parentOffset.top;
			$(this).find('span').css({ top: relY, left: relX });
		});
	});
	// Main Button Js End
</script>
  <script>
    window.addEventListener('scroll', function () {
      var scrollToTopBtn = document.getElementById('scrollToTopBtn');
      if (window.pageYOffset > 300) {
        scrollToTopBtn.classList.add('show');
      } else {
        scrollToTopBtn.classList.remove('show');
      }
    });

    document.getElementById('scrollToTopBtn').addEventListener('click', function () {
      smoothScrollToTop(1000);
    });

    function smoothScrollToTop(duration) {
      var start = window.pageYOffset;
      var distance = -start;
      var startTime = performance.now();

      function animation(currentTime) {
        var timeElapsed = currentTime - startTime;
        var scrollY = ease(timeElapsed, start, distance, duration);
        window.scrollTo(0, scrollY);
        if (timeElapsed < duration) requestAnimationFrame(animation);
      }

      function ease(t, b, c, d) {
        t /= d;
        t--;
        return c * (t * t * t * t * t + 1) + b;
      }

      requestAnimationFrame(animation);
    }
  </script>