		<header class="header">
			<nav id="navigation1" class="navigation">
				<div class="container">
					<div class="main-header">
						<div class="header_logo">
							<a href="https://nextstep.net.in/fusion-cars">
								<img src="https://nextstep.net.in/fusion-cars/wp-content/themes/Fusion%20Cars/assets/images/header_logo.png" alt="" width="100%">
							</a>
						</div>


						<div class="header_menu">
							<div class="nav-toggle"></div>
							<div class="nav-menus-wrapper">
{{ page.header }}
							</div>
							<div class="nav-search ">
										<div class="nav-search-button">
											<input type="text" placeholder="Search by Car name Or Brand Name">
											<i class="fa fa-search" aria-hidden="true"></i>
										</div>

										<form action="https://nextstep.net.in/fusion-cars" name="SearchForm" method="get">
											<div class="nav-search-inner">
											     <input type="text" name="s" maxlength="64" id="SearchForm" placeholder="Search by Car name Or Brand Name" />
											</div>
										</form>
									</div>
						</div>

					</div>
				</div>
			</nav>
		</header>